/* BODY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;
  line-height: 1.5;
  color: #25a2c3;
  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

p {
  margin: 0.25em 0;
  text-align: center;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  margin: 1em 0;
}
body {
  font-family: Open Sans;
  font-size: 1.2rem;
  line-height: 1.65;
  color: #393d41;
}
/* HEADER */
header {
  background-color: black;
}
#logo {
  width: 13%;
  margin: 1% 3%;
}

/* NAV */
nav {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
/* margin-top 0 per togliere lo spazio tra <header> e <nav> */
h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5em;
}
nav p {
  text-align: center;
  margin: 0 30%;
  font-size: 15px;
}

#button {
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  display: block;
  margin: 2em auto 2em auto;
  padding: 1em 2em;
  background-color: #f04c2f;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
/* MAIN */

/*ELEMENTI MAIN - SECTION  */

#cosafarai .cosafarai {
  width: 49%;
  text-align: justify;
  margin-top: 17%;
  margin-bottom: 12%;
  margin-left: 5%;
}
#cosafarai img,
#cosafarai .cosafarai {
  display: inline-block;
}
#cosafarai img {
  text-align: left;
  width: 30%;
  margin-right: 10px;
  margin-left: 100px;
  border-radius: 50%;
}

#cosafarai h3 {
  color: #25a2c3;
  text-align: justify;
  font-size: 16px;
}

#cosafarai p {
  font-size: 14px;
  text-align: justify;
  margin-right: 25%;
}

.verita {
  padding-bottom: 1.5em;
}

#garanzie {
  background-color: #e22d0e;
  padding: 2% 0em 1em 0em;
}

#garanzie h2,
#garanzie p {
  text-align: center;
  color: white;
  font-size: 1em;
}
.mario {
  font-size: 11px;
}

.cit {
  font-style: italic;
  margin: auto;
  padding: 0 0;
}
/* ELEMENTI MAIN - DIV*/
.box-articoli {
  border-spacing: 3em;
}
.articoli {
  display: table-cell;

  width: 25%;
  margin: 5%;
  text-align: center;

  vertical-align: top;
  border: 1px solid #dee1e3;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}
div img {
  width: 100%;
  height: 270px;
}
.articoli h4 {
  text-align: center;
}
.articoli p {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* FOOTER */
footer {
  text-align: center;
  color: #c8e7f0;
  background-color: #25a2c3;
  padding-top: 1.5em;
  padding-bottom: 4em;
}
footer h2 {
  text-align: center;
  color: white;
  margin-left: 25%;
  margin-right: 38%;
}
footer ul,
footer li,
footer a {
  text-align: justify;
  list-style-type: none;
  color: #c8e7f0;
}
footer li {
  margin-left: 37%;
  margin-right: 37%;
}
footer #address {
  text-decoration: none;
}
footer hr {
  width: 22%;
  margin-top: 2em;
  margin-bottom: 2em;
}
